.login-page {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  cursor: default;
}

.login-card {
  width: 83.3%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.top-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.top-card-center {
  width: 470px;
}

.top-rounded-text {
  background-color: #FBFBFB;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-rounded-text:hover {
  cursor: pointer;
}

.grey-text-login {
  color: #8F9090;
}

.arrow-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D4AEFF;
  padding: 5px;
  flex-basis: 25px;
  border-radius: 50px;
  font-size: 18px;
  flex-shrink: 0;
  transition: 0.5s ease-in-out;
}

.top-rounded-text:hover .arrow-login {
  transform: translate(5px);
}

.login-top-text {
  color: black;
  font-family: GrandCru, sans-serif;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
  margin: 5px 0 10px 0;
}

.login-top-text-bottom {
  color: #5c5c5c;
  font-size: 18px;
}

.bottom-card {
  display: flex;
  flex-direction: row;
}

.bottom-left-part {
  width: 48%;
}

.login-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  padding-right: 40px;
}

.bottom-right-part {
  width: 47%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 10px;
}

.div-slash {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.login-input,
.login-button {
  width: 350px;
  padding: 15px;
  border: 1px solid #DDDDDD;
  border-radius: 50px;
  background-color: #FBFBFB;
  height: 22px;
  font-size: 16px;
}

.login-button {
  box-sizing: content-box;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.login-button-text {
  color: white;
}

.arrow-login-button {
  font-size: 32px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.login-button:hover {
  cursor: pointer;
}

.login-button:hover .arrow-login-button {
  transform: translate(10px);
}

.login-input:focus {
  outline: none;
  box-shadow: #8F9090 2px 5px 2px;
}

.button-register-in-login {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-register-in-login p {
  font-size: 16px;
}
.button-register-in-login button {
  border-width: 0 0 1px 0;
  background: none;
  font-size: 16px;
  padding-left: 3px;
  font-weight: bold;
  color: black;
}
.button-register-in-login button:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .div-slash {
    display: none;
  }
  .bottom-left-part {
    width: 50%;
  }
  .login-form {
    padding-right: 0;
  }
  .bottom-right-part {
    width: 50%;
    padding-left: 0;
    margin-left: 20px;
  }
  /* use calc because inputs doesnt include padding in width */
  .login-input,
  .login-button {
    width: calc(100% - 32px);
  }
}
@media (max-width: 780px) {
  .login-card {
    margin: 50px 0 50px 0;
    height: 100%;
    width: 70%;
  }
  .bottom-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom-right-part {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .bottom-left-part {
    width: 100%;
  }
  .top-card-center {
    width: 100%;
  }
  .button-register-in-login {
    margin-top: 10px;
  }
  .login-top-text {
    font-size: 40px;
  }
  .top-card {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=login.css.map */
